/*============
    colors variables
  ============
*/
$main-bg-color: #0D0D0D;
$font-color: #ffffff;
$primary-grey: #F2F2F2;
$primary-light-green: #1FBF47;
$primary-dark-green: #1C8C38;
$primary-light-black: #2A2A2A;
$primary-dark-grey: #797979;