/*============
    colors variables
  ============
*/
@font-face {
  font-family: 'robotoregular';
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abhaya_libreregular';
  src: url("abhayalibre-regular-webfont.woff2") format("woff2"), url("abhayalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0D0D0D;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, label, a {
  font-family: 'robotoregular', sans-serif;
  color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

#pointer-ring {
  z-index: 3 !important;
}

#pointer-dot {
  z-index: 3 !important;
}

main {
  /*===========
        HEADER SECTION
        ==========
    */
  /*===========
        MAIN SECTION
        ==========
    */
  /*===========
        SKILL SECTION
        ==========
    */
  /*===========
        FOOTER SECTION
        ==========
    */
}

main .header {
  background: #0D0D0D;
  width: 8%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: width 2s;
  transition: width 2s;
}

main .header:focus {
  width: 100%;
}

main .header .logo h1 {
  font-family: 'abhaya_libreregular';
  color: #1C8C38;
  font-size: 51px;
  text-align: center;
  margin: 40px 0 0 0;
}

main .header .menubar {
  width: 100%;
  height: 26px;
  position: relative;
  top: 30%;
  cursor: pointer;
}

main .header .menubar .before-border {
  position: absolute;
  top: 0;
  left: 30px;
  width: 40%;
  height: 5px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
}

main .header .menubar .after-border {
  position: absolute;
  top: 19px;
  left: 30px;
  width: 40%;
  height: 5px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
}

main .header .socialbar {
  position: absolute;
  bottom: 40px;
  left: 4px;
  text-align: center;
  width: 85%;
}

main .header .socialbar .fb-btn {
  padding: 22px 16px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
  line-height: 2;
}

main .header .socialbar .fb-btn i {
  font-size: 26px;
  color: #ffffff;
}

main .header .socialbar .fb-btn:active {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .socialbar .behance-btn {
  padding: 22px 11px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
  line-height: 5.5;
}

main .header .socialbar .behance-btn i {
  font-size: 26px;
  color: #ffffff;
}

main .header .socialbar .behance-btn:active {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .socialbar .linkedin-btn {
  padding: 22px 14px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
}

main .header .socialbar .linkedin-btn i {
  font-size: 26px;
  color: #ffffff;
}

main .header .socialbar .linkedin-btn:active {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .menu-bottom-border {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main .header-expand {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0D0D0D;
  z-index: 1;
  -webkit-animation: 1s slideOut, 1s slideIn;
          animation: 1s slideOut, 1s slideIn;
}

main .header-expand .menu-bg-head h1 {
  position: absolute;
  top: 20%;
  left: 255px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 250px;
  color: #2A2A2A;
  font-weight: 100;
}

main .header-expand .menu-content {
  width: 89%;
  margin: 0 150px auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .header-expand .menu-content div ul {
  margin: 127px;
}

main .header-expand .menu-content div ul li {
  padding: 0px 0 21px 0;
}

main .header-expand .menu-content div ul li a {
  font-size: 40px;
  text-transform: uppercase;
}

main .header-expand .menu-content div ul li a::after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

main .header-expand .menu-content div ul li a:hover::after {
  width: 100%;
}

main .header-expand .menu-content div.my-img {
  position: relative;
}

main .header-expand .menu-content div.my-img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

main .main {
  width: 89%;
  margin: 0 150px auto;
  height: 100vh;
  /*===========
            HERO SECTION
            ==========
        */
  /*===========
            THIS SECTION WILL FLOAT
            ==========
        */
  /*===========
            PRODUCT SECTION
            ==========
        */
}

main .main .hero-header {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: #0D0D0D;
  font-size: 250px;
  position: absolute;
  top: 0px;
  left: 6px;
}

main .main .hero-main {
  position: relative;
  padding: 10% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

main .main .hero-main .hero-left-section {
  width: 48%;
  margin: 0 0 10px 0;
}

main .main .hero-main .hero-left-section h1 {
  font-size: 4rem;
}

main .main .hero-main .hero-left-section p {
  font-size: 0.875rem;
  line-height: 2;
  margin-top: 39px;
}

main .main .hero-main .hero-right-section {
  width: 50%;
}

main .main .hero-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0em;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'abhaya_libreregular';
  font-size: 1.5rem;
  text-shadow: 1px 0px 0px #ffffff, 1px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  z-index: 1;
}

main .main .hero-bottom-section .right-tag {
  margin: 0 50px 0px 0px;
}

main .main .product-main {
  position: relative;
  padding: 10% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

main .main .product-main .work-box {
  position: relative;
  left: 26em;
}

main .main .product-main .portfolio-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
}

main .main .product-main .portfolio-box .p-left-sec {
  float: left;
}

main .main .product-main .portfolio-box .p-left-sec .portfolio-1 {
  position: absolute;
  left: 0;
  top: 0;
}

main .main .product-main .portfolio-box .p-left-sec .portfolio-1 img {
  width: 100%;
}

main .main .product-main .portfolio-box .p-left-sec .portfolio-1 img:hover {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: url("./../images/Menu_Icon.png"), auto;
}

main .main .product-main .portfolio-box .p-right-sec {
  float: right;
}

main .main .product-main .portfolio-box .p-right-sec .portfolio-2 {
  position: absolute;
  right: 0;
  top: 20em;
}

main .main .product-main .portfolio-box .p-right-sec .portfolio-2 img {
  width: 100%;
}

main .main .product-main .portfolio-box .sec-portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 67em 0;
  width: 100%;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-1 {
  position: absolute;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-2 {
  position: absolute;
  left: 80px;
  top: 350px;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-3 {
  position: absolute;
  right: 0px;
  top: 20px;
}

main .main .product-main .portfolio-box .protfolio-end-box {
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
}

main .main .product-main .portfolio-box .protfolio-end-box a {
  font-family: 'abhaya_libreregular';
  color: #1C8C38;
  font-size: 1.625rem;
  letter-spacing: 2px;
}

main .skill-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 185em;
  z-index: 1;
}

main .skill-main .skill-box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skill-main .skill-box .skill-set:nth-child(4) {
  width: 33.333333%;
  height: 100vh;
  position: relative;
  background: #0D0D0D;
  outline: none;
  cursor: pointer;
}

main .skill-main .skill-box .skill-set:nth-child(4) .skillbg-heading {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: #0D0D0D;
  font-size: 250px;
  position: absolute;
  top: 270px;
  right: -100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: left;
}

main .skill-main .skill-box .skill-set:nth-child(4) .skill-overlay {
  display: none;
}

main .skill-main .skill-box .skill-set:nth-child(4):focus .skill-overlay {
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .skill-main .skill-box .skill-set:nth-child(5) {
  width: 33.333333%;
  height: 100vh;
  position: relative;
  background: #2A2A2A;
  outline: none;
  cursor: pointer;
}

main .skill-main .skill-box .skill-set:nth-child(5) .skillbg-heading {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: #2A2A2A;
  font-size: 250px;
  position: absolute;
  top: 180px;
  right: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: left;
}

main .skill-main .skill-box .skill-set:nth-child(5) .skill-overlay {
  display: none;
}

main .skill-main .skill-box .skill-set:nth-child(5):focus .skill-overlay {
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .skill-main .skill-box .skill-set:nth-child(6) {
  width: 33.333333%;
  height: 100vh;
  position: relative;
  background: #1C8C38;
  outline: none;
  cursor: pointer;
}

main .skill-main .skill-box .skill-set:nth-child(6) .skillbg-heading {
  text-shadow: 0px 0 0 #0D0D0D, 1px 0 0 #0D0D0D, -1px 0 0 #0D0D0D;
  color: #1C8C38;
  font-size: 250px;
  position: absolute;
  top: 395px;
  right: -200px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: left;
}

main .skill-main .skill-box .skill-set:nth-child(6) .skill-overlay {
  display: none;
}

main .skill-main .skill-box .skill-set:nth-child(6):focus .skill-overlay {
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .skill-main .skill-box .skill-set:nth-child(7) {
  width: 33.333333%;
  height: 100vh;
  position: relative;
  background: #1FBF47;
  outline: none;
  cursor: pointer;
}

main .skill-main .skill-box .skill-set:nth-child(7) .skillbg-heading {
  text-shadow: 0px 0 0 #0D0D0D, 1px 0 0 #0D0D0D, -1px 0 0 #0D0D0D;
  color: #1FBF47;
  font-size: 250px;
  position: absolute;
  top: 375px;
  right: -200px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: left;
}

main .skill-main .skill-box .skill-set:nth-child(7) .skill-overlay {
  display: none;
}

main .skill-main .skill-box .skill-set:nth-child(7):focus .skill-overlay {
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .skill-main .skill-box .skill-set:nth-child(8) {
  width: 33.333333%;
  height: 100vh;
  position: relative;
  background: #F2F2F2;
  outline: none;
  cursor: pointer;
}

main .skill-main .skill-box .skill-set:nth-child(8) .skillbg-heading {
  text-shadow: 0px 0 0 #0D0D0D, 1px 0 0 #0D0D0D, -1px 0 0 #0D0D0D;
  color: #F2F2F2;
  font-size: 250px;
  position: absolute;
  top: 200px;
  right: -50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: left;
}

main .skill-main .skill-box .skill-set:nth-child(8) .skill-overlay {
  display: none;
}

main .skill-main .skill-box .skill-set:nth-child(8):focus .skill-overlay {
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main .footer {
  position: absolute;
  top: 227em;
  width: 100%;
  height: 100%;
}

main .footer .footer-bg-heading {
  position: relative;
}

main .footer .footer-bg-heading .footer-heading:nth-child(1) {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: #0D0D0D;
  font-size: 170px;
  position: absolute;
  top: -60px;
  left: 116px;
}

main .footer .footer-bg-heading .footer-heading:nth-child(2) {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: #0D0D0D;
  font-size: 140px;
  position: absolute;
  top: 170px;
  left: 126px;
}

main .footer .bottom-area {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 31em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .footer .bottom-area .footer-left h1 {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 23px;
}

main .footer .bottom-area .footer-left a {
  font-family: 'abhaya_libreregular';
  color: #1C8C38;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

main .footer .bottom-area .footer-right {
  width: 34%;
}

main .footer .bottom-area .footer-right h1 {
  font-weight: 100;
  font-size: 40px;
}

main .footer .bottom-area .footer-right span {
  font-family: 'abhaya_libreregular';
  font-size: 1.5rem;
  text-shadow: 1px -1px 0px #ffffff, 1px 0px 0px #797979, 0px 0px 0px #0D0D0D;
  padding: 0 9px;
  color: #0D0D0D;
  line-height: 2;
}

main .footer .copyright {
  width: 80%;
  margin: 0 auto;
}

main .footer .copyright p {
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */