@font-face {
  font-family: 'robotoregular';
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abhaya_libreregular';
  src: url("abhayalibre-regular-webfont.woff2") format("woff2"), url("abhayalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*============
    colors variables
  ============
*/
:root {
  --main-bg-color: #0D0D0D;
  --main-font-color: #ffffff;
  --primary-grey: #F2F2F2;
  --primary-light-green: #1FBF47;
  --primary-dark-green: #1C8C38;
  --primary-light-black: #2A2A2A;
  --primary-dark-black: #0D0D0D;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, label, a {
  font-family: 'robotoregular', sans-serif;
  color: var(--main-font-color);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

main {
  /*===========
            SKILL SECTION
           ==========
        */
}

main .header {
  background: var(--main-bg-color);
  width: 8%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 5px 3px 12px 0px #000000;
          box-shadow: 5px 3px 12px 0px #000000;
  z-index: 1;
}

main .header .logo h1 {
  font-family: 'abhaya_libreregular';
  color: var(--primary-dark-green);
  font-size: 51px;
  text-align: center;
  margin: 40px 0 0 0;
}

main .header .menubar {
  width: 100%;
  height: 26px;
  position: relative;
  top: 30%;
  cursor: pointer;
}

main .header .menubar .before-border {
  position: absolute;
  top: 0;
  left: 30px;
  width: 40%;
  height: 5px;
  margin: 0 auto;
  background: var(--main-font-color);
  border-radius: 10px;
}

main .header .menubar .after-border {
  position: absolute;
  top: 19px;
  left: 30px;
  width: 40%;
  height: 5px;
  margin: 0 auto;
  background: var(--main-font-color);
  border-radius: 10px;
}

main .header .socialbar {
  position: absolute;
  bottom: 40px;
  left: 4px;
  text-align: center;
  width: 85%;
}

main .header .socialbar .fb-btn {
  padding: 22px 16px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
  line-height: 2;
}

main .header .socialbar .fb-btn i {
  font-size: 26px;
  color: var(--main-font-color);
}

main .header .socialbar .fb-btn:hover {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .socialbar .behance-btn {
  padding: 22px 11px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
  line-height: 5.5;
}

main .header .socialbar .behance-btn i {
  font-size: 26px;
  color: var(--main-font-color);
}

main .header .socialbar .behance-btn:hover {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .socialbar .linkedin-btn {
  padding: 22px 14px 12px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
          box-shadow: 3px 3px 6px 0px #000000, -2px -2px 6px -5px #ffffff;
}

main .header .socialbar .linkedin-btn i {
  font-size: 26px;
  color: var(--main-font-color);
}

main .header .socialbar .linkedin-btn:hover {
  -webkit-box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
          box-shadow: 3px 3px 6px -5px #fff, -2px -2px 6px -2px #000;
}

main .header .menu-bottom-border {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background: var(--main-font-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main .main {
  width: 89%;
  margin: 0 150px auto;
  height: 100vh;
  /*===========
            HERO SECTION
            ==========
        */
  /*===========
            THIS SECTION WILL FLOAT
            ==========
        */
  /*===========
            PRODUCT SECTION
            ==========
        */
}

main .main .hero-header {
  text-shadow: 0px 0 0 #1C8C38, 1px 0 0 #1C8C38, -1px 0 0 #1C8C38;
  color: var(--main-bg-color);
  font-size: 250px;
  position: absolute;
  top: 0px;
  left: 6px;
}

main .main .hero-main {
  position: relative;
  padding: 10% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

main .main .hero-main .hero-left-section {
  width: 48%;
  margin: 0 0 10px 0;
}

main .main .hero-main .hero-left-section h1 {
  font-size: 4rem;
}

main .main .hero-main .hero-left-section p {
  font-size: 0.875rem;
  line-height: 2;
  margin-top: 39px;
}

main .main .hero-main .hero-right-section {
  width: 50%;
}

main .main .hero-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 6em;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'abhaya_libreregular';
  font-size: 1.5rem;
  text-shadow: 1px 0px 0px var(--main-font-color), 1px 0px 0px var(--main-font-color), 0px 0px 0px var(--main-font-color);
}

main .main .hero-bottom-section .right-tag {
  margin: 0 50px 0px 0px;
}

main .main .product-main {
  position: relative;
  padding: 10% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

main .main .product-main .work-box {
  position: relative;
  left: 26em;
}

main .main .product-main .portfolio-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
}

main .main .product-main .portfolio-box .p-left-sec {
  float: left;
}

main .main .product-main .portfolio-box .p-left-sec .portfolio-1 {
  position: absolute;
  left: 0;
  top: 0;
}

main .main .product-main .portfolio-box .p-left-sec .portfolio-1 img {
  width: 100%;
}

main .main .product-main .portfolio-box .p-right-sec {
  float: right;
}

main .main .product-main .portfolio-box .p-right-sec .portfolio-2 {
  position: absolute;
  right: 0;
  top: 20em;
}

main .main .product-main .portfolio-box .p-right-sec .portfolio-2 img {
  width: 100%;
}

main .main .product-main .portfolio-box .sec-portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 67em 0;
  width: 100%;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-1 {
  position: absolute;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-2 {
  position: absolute;
  left: 80px;
  top: 350px;
}

main .main .product-main .portfolio-box .sec-portfolio .prt-3 {
  position: absolute;
  right: 0px;
  top: 20px;
}

main .main .product-main .portfolio-box .protfolio-end-box {
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
}

main .main .product-main .portfolio-box .protfolio-end-box a {
  font-family: 'abhaya_libreregular';
  color: var(--primary-dark-green);
  font-size: 1.625rem;
}

main .skill-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 185em;
}

main .skill-main .skill-box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skill-main .skill-box .skill-set {
  width: 33.333333%;
  height: 100%;
  background: red;
}
/*# sourceMappingURL=main.css.map */